body{
  background-image: url(images/bg.png);
    background-repeat: no-repeat;
  background-size: 1600px 800px;
 
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  
}  

.flex-child:first-child {
  margin-right: 20px;
} 
h2 ,h3{
  text-align: center;
  color:midnightblue;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  text-decoration: underline overline;
}
#phn{
  margin-left: 50px;
  height: 5%;
  width: 5%;
}